<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DokanNet" version="1.1.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net45" />
  <package id="StringInterpolationBridgeStrong" version="0.9.1" targetFramework="net45" />
  <package id="VirusTotal.NET" version="1.6.2" targetFramework="net45" />
</packages>